@CHARSET "ISO-8859-1";

#score div {
	display: inline-block;
}

#score img {
	height: 52px;
}

#board {
	display: table;
	border: 1px solid black;
	margin: 20px auto;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
	border: 1px solid black;
	height: 50px;
	width: 50px;
	cursor: pointer;
	background-color: green;
}

.cell.last-move {
	background-color: red;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Black {
	background-color: black;
}

.White {
	background-color: white;
}