@CHARSET "ISO-8859-1";

.dataTables_wrapper {
	width: 70%;
	display: inline-block;
	vertical-align: top;
}

tr {
	cursor: pointer;
}

#game-description {
	width: 28%;
	display: inline-block;
}

.join-game-button {
	
}